*.pyc
*~
build/
dist/
.cache/
.idea
.cache
*__pycache__*
*.pyproj
*.user
*.sln
*.bak
*.orig
pandapipes/networks/gas_switch*
doc/.build/*
doc/_build/*
doc/build/*
tutorials/.ipynb_checkpoints
pandapipes/data/*
pandapipes.egg-info/