language: python
matrix:
  include:
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
  
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  #- conda update -q conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION pip numpy scipy pandas=0 networkx numpydoc numba xlsxwriter xlrd
  - source activate test-environment
  - if [[ "$CI_COMMIT_REF_NAME" == "master" ]]; then
         git clone --single-branch --branch master https://github.com/e2nIEE/pandapower.git --depth 1 /tmp/pandapower;
    else
         git clone --single-branch --branch develop https://github.com/e2nIEE/pandapower.git --depth 1 /tmp/pandapower;
    fi
  - pip install /tmp/pandapower
  - conda install matplotlib --yes
  - conda install -c conda-forge python-igraph --yes
  - pip install pytest pytest-cov
  - pip install codecov
  - python setup.py install
  - conda list
  - conda info -a

script:
    py.test --cov=pandapipes --cov-config .coveragerc
    
after_success:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then
          codecov;
      fi
