# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

# pandapipes-master branch has to work with pandapower-master branch

name: ppipes_master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest python-igraph pytest-split numba shapely
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python -m pip install git+https://github.com/e2nIEE/pandapower@master#egg=pandapower
          pip install .
      - name: List all installed packages
        run: |
          pip list
      - name: Test with pytest
        if: ${{ matrix.python-version != '3.9' }}
        run: |
          pytest
      - name: Test with pytest and Codecov
        if: ${{ matrix.python-version == '3.9' }}
        run: |
          python -m pip install pytest-cov
          pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        if: ${{ matrix.python-version == '3.9' }}
        uses: codecov/codecov-action@v1
        with:
          verbose: true

  tutorial_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest nbmake pytest-xdist pytest-split python-igraph numba 
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python -m pip install git+https://github.com/e2nIEE/pandapower@master#egg=pandapower
          pip install .
      - name: List all installed packages
        run: |
          pip list
      - name: Test with pytest
        run: |
          pytest --nbmake -n=auto "./tutorials"

  docs_check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.8' ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check docs for Python ${{ matrix.python-version }}
        uses: e2nIEE/sphinx-action@master
        with:
          pre-build-command: "apt-get update -y && apt-get install -y git;
                              git --version;
                              python -m pip install --upgrade pip;
                              python -m pip install git+https://github.com/e2nIEE/pandapower@develop#egg=pandapower;
                              python -m pip install ."
          build-command: "sphinx-build -b html source _build -W"
          docs-folder: "doc/"
