# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# A coverage report will be created for the Python 3.8 version
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

# pandapipes-develop branch is designed to work with pandapower-develop branch

name: ppipes_dev

on:
  push:
    branches-ignore: [ master ]
  pull_request:
    branches-ignore: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
        group: [1, 2, 3, 4, 5]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest python-igraph pytest-split
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python -m pip install git+https://github.com/e2nIEE/pandapower@develop#egg=pandapower
          pip install .
      - name: List all installed packages
        run: |
          pip list
      - name: Test with pytest
        if: ${{ matrix.python-version != '3.9' }}
        run: |
          pytest --splits 5 --group ${{ matrix.group }}
      - name: Test with pytest and Codecov
        if: ${{ matrix.python-version == '3.9' }}
        run: |
          python -m pip install pytest-cov
          pytest --cov=./ --cov-report=xml --splits 5 --group ${{ matrix.group }}
      - name: Upload coverage to Codecov
        if: ${{ matrix.python-version == '3.9' }}
        uses: codecov/codecov-action@v1
        with:
          verbose: true

  linting:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python -m pip install git+https://github.com/e2nIEE/pandapower@develop#egg=pandapower
          pip install .
      - name: List all installed packages
        run: |
          pip list
      - name: Lint with flake8 (syntax errors and undefinded names)
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Lint with flake8 (all errors/warnings)
        run: |
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
