# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

# pandapipes-master branch is designed to work with pandapower-master branch

name: ppipes_master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
        os:  [ ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@38f3f104447c67c051c4a08e39b64a148898af3a #v4.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --extra test
      - name: List all installed packages
        run: |
          uv pip list
      - name: Test with pytest
        if: ${{ matrix.python-version != '3.11' }}
        run: |
          uv run pytest -n auto
      - name: Test with pytest, Codecov and Coverage
        if: ${{ matrix.python-version == '3.11' }}
        run: |
          uv pip install pytest-cov
          uv run pytest -n auto --cov=./ --cov-report=xml
          cp ./coverage.xml ./codecov_coverage.xml
      - name: Upload coverage to Codacy
        if: ${{ matrix.python-version == '3.11' && matrix.os == 'ubuntu-latest'}}
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage.xml
      - name: Upload coverage to Codecov
        if: ${{ matrix.python-version == '3.11' }}
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./codecov_coverage.xml
          verbose: true
          exclude: |
            '**/test/**'
            '**/__init__.py'
            'doc/**'
            'tutorials/**'
            'pandapipes/networks/network_files/**'
            '**.yml'
            '**.rst'

  relying:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
        os:  [ ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@38f3f104447c67c051c4a08e39b64a148898af3a #v4.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --extra test
          uv pip install git+https://github.com/e2nIEE/pandapower@develop#egg=pandapower
      - name: List all installed packages
        run: |
          uv pip list
      - name: Test with pytest
        if: ${{ matrix.python-version != '3.11' }}
        run: |
          uv run pytest -n auto

  tutorial_tests:
    name: Tutorial tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
        os:  [ ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@38f3f104447c67c051c4a08e39b64a148898af3a #v4.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --extra test --extra plotting
      - name: List all installed packages
        run: |
          uv pip list
      - name: Test with pytest
        run: |
          uv run pytest --nbmake -n auto "./tutorials"
      - name: Test without numba
        if: ${{ matrix.python-version == '3.11' }}
        run: |
          uv pip uninstall numba
          uv run pytest --nbmake -n auto "./tutorials"


  docs_check:
    name: Sphinx docs check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check sphinx build
        uses: ammaraskar/sphinx-action@7.4.7
        with:
          pre-build-command: "python -m pip install uv && uv pip install .[docs] --system --link-mode=copy"
          build-command: "sphinx-build -b html source _build -W"
          docs-folder: "doc/"
